*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    padding: 20px 50px ;
    
    margin-top: 10px;
    
}
.box1{
    background-color: yellow;
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.box2{
    background-color: red;
    height: 300px;
    width: 400px;
    border: 5px solid ;
    border-radius: 10px;
    padding-left: 20px;
}
.box2 >h2{
    margin-bottom: 20px;

}
