/*1.Tag name*/
nav{
 background-color: brown;
    height: 100px;

}
main{
    height: 250px;
    background-color: blueviolet;
}
/* 2.Id Selector */
#logo{
    color: white;
}
section{
    height=250px;
    background-color:blanchedalmond
}
.para{
  color:orange;
}
/*!Universal selector*/
*{
    text-align: center;
    font-style: italic;
}
/*group selctor*/
p,#logo{
    text-decoration: underline;
}
